main {
  margin: 1vh;
  padding-top: 20vw;
}
body {
  margin: 0vh;
  background-color: bisque;
}
p,
h1,
h2,
h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4,
span {
  color: brown;
}
h1 {
  font-style: italic;
  text-decoration: underline;
}
h1 {
  font-size: 3.5vh;
}
h2 {
  font-size: 3vh;
}

#logo {
  height: 11vh;
  width: 11vh;
}

table {
  border-collapse: collapse;

  background-color: rgb(19, 184, 143);
}
td {
  border: 1px solid black;
}
.table2 {
  margin-top: 30px;
}
strong {
  font-size: 20px;
}
.translate {
  width: 10vh;
  height: 4.5vh;
  background-color: black;
  color: wheat;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  border: solid black 1px;
  font-size-adjust: 0.8;
  border-radius: 100px;
  text-align: center;
}

tr td:nth-child(2) {
  width: 500vw;
}

.translate:hover {
  background-color: rgb(44, 42, 42);
  transition: ease 0.35s;
  color: whitesmoke;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(56, 194, 175);
  position: fixed;
  top: 0px;
  width: 100vw;
  position: fixed;
  top: 0px;
  z-index: 1;
}

#logobutton {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.tiles {
  display: none;
  position: absolute;
  left: -1vw;
  width: 101vw;
}
.numbers {
  font-size: 3vh;
  color: black;
}

.help {
  height: 3vh;
  width: 3vh;
}
tr td:nth-child(3) {
  padding: 0vw;
}
tr td:nth-child(4) {
  background-color: bisque;
  border: bisque solid;
}
footer {
  margin-top: 20px;
}

.helpbutton {
  background-color: bisque;
  border: transparent;
  width: 1vw;
  margin-right: 2vw;
}

.helpbutton {
  cursor: pointer;
}

div {
  position: relative;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.nine,
.ten,
.eleven,
.twelve,
.thirteen,
.fourteen,
.fifteen,
.sixteen,
.seventeen,
.eighteen {
  display: none;
  position: absolute;
  right: 1.2vh;
  bottom: -4vh;
  height: 17vw;
  width: 90vw;
}
.eight {
  display: none;
  position: absolute;
  right: 4vh;
  bottom: -4vh;
  height: 30vw;
  width: 90vw;
}
